.timeline {
  background-color: #494949;
  height: 0.375rem;
  width: 100%;
  position: relative;
  cursor: pointer;
  user-select: none; 
}

.timeline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--progress-position);
  background-color: #ff0000;
}

.timeline .thumbIndicator {
  position: absolute;
  transform: translateX(-50%);
  height: 1rem;
  width: 1rem;
  top: -75%;
  left: var(--progress-position);
  background-color: #ff0000;
  border-radius: 50%;
  cursor: pointer;
  user-select: none; 
  transition: transform 150ms ease-in-out;
}
