.albumCardContainer {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.albumCardContainer {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1.5rem 1.4375rem; 
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--light-white);
    font-family: var(--font-inter);
    padding-bottom: 7rem;
}

.albumCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 1.5rem var(--padding-12xs) 0; 
    box-sizing: border-box;
    position: relative;
    gap: var(--gap-5xs);
    min-width: 5rem; 
}

.albumPicture {
    height: 12.5rem; 
    width: 12.5rem; 
    position: relative;
    object-fit: cover;
}

.moreIcon {
    position: absolute;
    top: 2rem;
    right: 0.5rem; 
    width: 1.5rem; 
    height: 1.5rem; 
    background-size: contain;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 50%;
}

.pictureContainer {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.playIcon {
    position: absolute;
    bottom: 4rem; 
    right: 0.75rem; 
    width: 2.5rem; 
    height: 2.5rem;
    background-size: cover;
    opacity: 0; 
    transition: opacity 0.3s ease; 
    background-color: rgba(0, 0, 0, 0.75); 
    border-radius: 100%;
}

.albumCard:hover .moreIcon,
.albumCard:hover .playIcon {
    opacity: 1; 
}
