.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    flex-direction: column;
    padding: var(--padding-10xs) 0 0;
}

.title,
.subtitle {
    position: relative;
    letter-spacing: -0.01em;
}

.title {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.subtitle {
    display: inline-block;
    min-width: 2.6875rem;
}