.skip {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) 0 0;
}

.controlButton {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: var(--padding-5xs) 0 0;
    background: none;
    border: none;
    cursor: pointer;
}

.skipIcon {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pauseIcon {
    height: 2.5rem;
    width: 2.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
