.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    flex-direction: column;
}

.subtitle,
.title {
    position: relative;
    letter-spacing: -0.01em;
    line-height: 1.5rem;
}

.subtitle {
    font-size: var(--font-size-base);
}

.title {
    margin: 0;
    font-size: var(--font-size-13xl);
    font-weight: 700;
    font-family: inherit;
    width: auto;
}

.categoryTitleInner {
  max-width: 100%;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 14.313rem;
}